---
import PageLayout from "../layouts/PageLayout.astro";
import MarkdownLayout from "../layouts/MarkdownLayout.astro";
import { getEntry } from "astro:content";
import {
  parseMarkdownContent,
  styleMarkdownContent,
} from "../../lib/markdownUtils";

const canonEntry = await getEntry("pages", "canon");
if (!canonEntry) throw new Error("Canon entry not found");

const canonContent = canonEntry.body; // This gets the actual markdown content
const parsedContent = parseMarkdownContent(canonContent);
---

<PageLayout
  title={canonEntry.data.title}
  description={canonEntry.data.description}
>
  <MarkdownLayout title={canonEntry.data.title}>
    <div class="flex flex-col gap-2">
      <section>
        <p
          class="text-md max-w-2xl text-pretty text-[--color-text-primary] mb-3"
        >
          {canonEntry.data.description}
        </p>
      </section>

      <div class="grid lg:grid-cols-2 gap-2 lg:gap-8 max-w-6xl">
        {
          parsedContent.map((section) => (
            <section>
              <h2 class="text-xl font-medium mb-3 text-[--color-text-primary] capitalize">
                {section.title}
              </h2>
              <div class="space-y-2">
                <div set:html={styleMarkdownContent(section.content)} />
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </MarkdownLayout>
</PageLayout>
