---
import PageLayout from "../layouts/PageLayout.astro";
import MarkdownLayout from "../layouts/MarkdownLayout.astro";
import MediaGallery from "../components/MediaGallery.astro";
import { getEntry } from "astro:content";
import {
  parseMarkdownContent,
  styleMarkdownContent,
} from "../../lib/markdownUtils";

const colophonEntry = await getEntry("pages", "colophon");
if (!colophonEntry) throw new Error("Colophon entry not found");

const colophonContent = colophonEntry.body;
const parsedContent = parseMarkdownContent(colophonContent);
---

<PageLayout
  title={colophonEntry.data.title}
  description={colophonEntry.data.description}
>
  <MarkdownLayout title={colophonEntry.data.title}>
    <div class="flex flex-col gap-2">
      <section>
        <p
          class="text-md max-w-2xl text-pretty text-[--color-text-primary] mb-3"
        >
          {colophonEntry.data.description}
        </p>
      </section>

      <div class="grid lg:grid-cols-2 gap-2 lg:gap-8 max-w-6xl">
        {
          parsedContent.map((section) => (
            <section>
              <h2 class="text-xl font-medium mb-3 text-[--color-text-primary] capitalize">
                {section.title}
              </h2>
              <div class="space-y-2">
                <div set:html={styleMarkdownContent(section.content)} />
              </div>
            </section>
          ))
        }
      </div>

      <!-- Old Sites Gallery -->
      <div class="mt-4 mb-4">
        <h2 class="text-xl font-medium mb-3 text-[--color-text-primary]">
          Memorial to my old sites (rip)
        </h2>
        <MediaGallery
          images={[
            "old-site-2021.webp",
            "old-site-2023.webp",
            "old-site-2025.webm",
          ]}
          experienceName="Previous site designs"
          variant="desktop"
        />
      </div>
    </div>
  </MarkdownLayout>
</PageLayout>
