---
import chat from "../assets/link-images/chat.png";
import code from "../assets/link-images/code.png";
import linkedin from "../assets/link-images/linkedin.png";
import tablet from "../assets/link-images/tablet.png";
import bulb from "../assets/link-images/bulb.png";
---

<nav
  class="bg-linear-to-t to-blue-600 from-(--color-bg-primary) h-screen lg:h-screen lg:flex lg:flex-col lg:justify-start lg:p-6 md:h-auto md:p-4 p-4"
>
  <!-- Name header -->
  <div class="text-white text-2xl lg:text-3xl font-black mb-4 lg:mb-8">
    Andrei Stoica
  </div>

  <!-- Icons container -->
  <div
    class="flex lg:flex-col lg:space-y-4 lg:space-x-0 space-x-4 space-y-0 items-center lg:items-start"
  >
    <a href="#" class="icon-link">
      <img src={linkedin.src} alt="LinkedIn" class="icon" />
    </a>
    <a href="#" class="icon-link">
      <img src={chat.src} alt="Chat" class="icon" />
    </a>
    <a href="#" class="icon-link">
      <img src={bulb.src} alt="Ideas" class="icon" />
    </a>
    <a href="#" class="icon-link">
      <img src={tablet.src} alt="Portfolio" class="icon" />
    </a>
    <a href="#" class="icon-link">
      <img src={code.src} alt="Code" class="icon" />
    </a>
  </div>
</nav>

<style>
  .icon {
    width: 32px;
    height: 32px;
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }

  .icon-link:hover .icon {
    opacity: 1;
  }

  /* Mobile styles */
  @media (max-width: 1023px) {
    nav {
      height: auto !important;
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }
</style>
